<div id="gitalk-ctn"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: '<%=theme.gitalk_config.clientID%>',
  clientSecret: '<%=theme.gitalk_config.clientSecret%>',
  repo: '<%=theme.gitalk_config.repo%>',
  owner: '<%=theme.gitalk_config.owner%>',
  admin: '<%=theme.gitalk_config.admin%>',
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: '<%=theme.gitalk_config.distractionFreeMode%>'  // Facebook-like distraction free mode
})
gitalk.render('gitalk-ctn')
</script>
