<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      	<div class="article-meta">
	      	<%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
	      	<br>
	      	<%- partial('post/category') %>
	    	<%- partial('post/tag') %>
    	</div>
    	<%- partial('post/title', {class_name: 'archive-article-title'}) %>
    </header>
  </div>
</article>