<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      	<div class="article-meta">
	      	<%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
        </div>
    	 <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        <div class="article-info info-on-right">
          <%- partial('post/tag') %>
          <%- partial('post/category') %>
        </div>
        <div class="clearfix"></div>
    </header>
  </div>
</article>