<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> <%if(index){%> article-index<%}%>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% if (!post.noDate){ %>
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: null}) %>
        <% } %>
      </header>
    <% } %>
    <% if (!index){ %>
      <div class="article-section">
        <div class="tag-category">
          <%if(post.top){%>
            <div class="article-pop-out tagcloud">
              <i class="icon-tuding"></i>
              <a class="article-tag-list-link color3">置顶</a>
            </div>
          <% } %>
          <%- partial('post/tag') %>
          <%- partial('post/category') %>
        </div>
      </div>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <a class="article-more-a" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>

      <% if ((theme.reward_type === 2 || (theme.reward_type === 1 && post.reward)) && !index){ %>
        <div class="page-reward">
          <a href="javascript:;" class="page-reward-btn tooltip-top">
            <div class="tooltip tooltip-east">
            <span class="tooltip-item">
              赏
            </span>
            <span class="tooltip-content">
              <span class="tooltip-text">
                <span class="tooltip-inner">
                  <p class="reward-p"><i class="icon icon-quo-left"></i><%= theme.reward_wording%><i class="icon icon-quo-right"></i></p>
                  <div class="reward-box">
                    <% if(theme.alipay) {%>
                    <div class="reward-box-item">
                      <img class="reward-img" src="<%= theme.alipay%>">
                      <span class="reward-type">支付宝</span>
                    </div>
                    <% } %>
                    <% if(theme.weixin) {%>
                    <div class="reward-box-item">
                      <img class="reward-img" src="<%= theme.weixin%>">
                      <span class="reward-type">微信</span>
                    </div>
                    <% } %>
                  </div>
                </span>
              </span>
            </span>
          </div>
          </a>
        </div>
      <% } %>
      <% if (!index && post.layout == 'post'){ %>
      	<div class="copyright">
      	  <ul>
      		<li class="post-copyright-author">
      	      <strong>本文作者：</strong>
      		  <%= theme.author%>
              </li>
      		<li class="post-copyright-link">
      	      <strong>本文链接：</strong>
      		  <a href="<%= page.permalink%>" title="<%= post.title%>"><%= page.permalink%></a>
      		</li>
      		<li class="post-copyright-license">
      		  <strong>版权声明：</strong>
      	      本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" rel="external nofollow" target="_blank">CC BY-NC-SA 3.0</a> 许可协议<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a>，转载请注明出处！
      		</li>
      	  </ul>
      	</div>
      <% } %>
    </div>
    <% if (index){ %>
        <div class="article-info article-info-index">
          <div class="tag-category">
          <%if(post.top){%>
            <div class="article-pop-out tagcloud">
              <i class="icon-tuding"></i>
              <a class="article-tag-list-link color3">置顶</a>
            </div>
          <% } %>
            <div class="tag-box">
              <%- partial('post/tag') %>
              <%- partial('post/category') %>
            </div>
          <% if (index && theme.show_all_link){ %>
            <p class="article-more-link">
              <a class="article-more-a" href="<%- url_for(post.path) %>"><%= theme.show_all_link %> >></a>
            </p>
          <% } %>
          </div>
        </div>
    <% } %>
    <% if (!index && theme.share_jia){ %>
       <div class="article-info article-info-index">
          <%- partial('post/share') %>
       </div>
    <% } %>
    <div class="clearfix"></div>
  </div>
</article>
<% if (!index){ %>
  <%- partial('post/nav') %>
<% } %>
<%- partial('_partial/aside') %>

<% if (!index && post.comments){ %>
  <% if (theme.duoshuo){ %>
  <%- partial('post/duoshuo', {
      key: post.slug,
      title: post.title,
      url: config.url+url_for(post.path)
    }) %>
  <% } %>
  
  <% if (theme.wangyiyun){ %>
  <%- partial('post/wangyiyun', {
      key: post.slug,
      title: post.title,
      url: config.url+url_for(post.path)
    }) %>
  <% } %>

  <% if (theme.changyan_appid && theme.changyan_conf){ %>
  <%- partial('post/changyan', {
      key: post.slug,
      title: post.title,
      url: config.url+url_for(post.path)
    }) %>
  <% } %>

  <% if (theme.disqus || theme.disqus.shortname){ %>
    <section id="comments">
      <script>
        var disq = new iDisqus('comment', {
          forum: '<%= theme.disqus.shortname %>',
          site: '<%= config.url %>',
          api: '<%= theme.disqus.api %>',
          mode: 2,
          timeout: 3000,
          init: true,
          emojiPreview: true,
          autoCreate: true
        });
        disq.count();
      </script>
    </section>
  <% } %>
<% } %>
<% if (!index){ %>
  <script>
  (function () {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'
    } else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js'
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s)
  })();
  </script>
<% } %>
