<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <meta name="google-site-verification" content="SJrrucUlOVnExtrPtDgervvLXm4dWS90P4srRT8njfw" />
  <meta name="baidu-site-verification" content="i1jenkuRPy" />
  <script type="text/javascript" src="/js/echarts.min.js"></script>
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/jquery.githubRepoWidget.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link href="//cdn.bootcss.com/animate.css/3.5.1/animate.min.css" rel="stylesheet">  
  <link href="/css/airia.css" rel="stylesheet">
</head>