<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (theme.animate){ %>
      <%- css('//cdn.bootcss.com/animate.css/3.5.0/animate.min.css') %>
  <% } %>
  <% if (theme.jquery_ui){ %>
      <link href="//cdn.bootcss.com/jqueryui/1.10.4/css/jquery-ui.min.css" rel="stylesheet">
  <% } %>
  <%- css('css/style') %>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <% if (is_home()){ %>
    <% if (theme.baidu_site) { %> 
      <meta name="baidu-site-verification" content="<%- theme.baidu_site %>" />
    <% } %>
    <% if (theme.google_site) { %> 
      <meta name="google-site-verification" content="<%- theme.google_site %>" />
    <% } %>
  <% } %>
  <% if (theme.fancybox){ %>
      <link rel="stylesheet" href="/fancybox/jquery.fancybox.css">
  <% } %>
  <script>
      var yiliaConfig = {
          fancybox: <%=theme.fancybox%>,
          animate: <%=theme.animate%>,
          isHome: <%=is_home()%>,
          isPost: <%=is_post()%>,
          isArchive: <%=is_archive()%>,
          isTag: <%=is_tag()%>,
          isCategory: <%=is_category()%>,
          open_in_new: <%=theme.open_in_new%>
      }
  </script>
  <% if (theme.baidu_tongji){ %>
      <script>
          var _hmt = _hmt || [];
          (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?<%=theme.baidu_tongji%>";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
          })();
      </script>
  <% } %>
</head>