<nav id="mobile-nav">
  	<div class="overlay">
  		<div class="slider-trigger"><i class="icon-sort"></i></div>
  		<h1 class="header-author js-mobile-header hide"><%=theme.author%></h1>
  	</div>
	<div class="intrude-less">
		<header id="header" class="inner">
			<div class="profilepic">
				<img src="<%=theme.avatar%>" class="js-avatar">
			</div>
			<hgroup>
			  <h1 class="header-author"><%=theme.author%></h1>
			</hgroup>
			<% if (theme.subtitle){ %>
			<p class="header-subtitle"><%=theme.subtitle%></p>
			<%}%>
			<nav class="header-menu">
				<ul>
				<% for (var i in theme.menu){ %>
					<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
		        <%}%>
		        <% if (theme.smart_menu.innerArchive) { %>
		        	<li><a href="/archives"><%= theme.smart_menu.innerArchive %></a></li>
		        <% } %>
				</ul>
			</nav>
			<nav class="header-nav">
				<div class="social">
					<% for (var i in theme.subnav){ %>
						<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
			        <%}%>
				</div>
			</nav>
		</header>				
	</div>
</nav>
