<nav id="mobile-nav">
  	<div class="overlay"></div>
	<div class="intrude-less">
		<header id="header" class="inner">
			<div class="profilepic">
				<img src="<%=theme.avatar%>">
			</div>

			<hgroup>
			  <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
			</hgroup>
			<% if (theme.subtitle){ %>
			<p class="header-subtitle"><%=theme.subtitle%></p>
			<%}%>
			<nav class="header-menu">
				<ul>
				<% for (var i in theme.menu){ %>
					<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
		        <%}%>
		        <div class="clearfix"></div>
				</ul>
			</nav>
			<nav class="header-nav">
				<div class="social">
					<% for (var i in theme.subnav){ %>
						<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><%= i %></a>
			        <%}%>
				</div>
			</nav>
		</header>				
	</div>
</nav>