<% var readingData = site.data.reading;
    var tabCount = Object.keys(readingData.define).length;
%>
<section class="article">
    <% if (readingData) { %>
        <div class="article-section">
            <div class="row">
                <ul class="tabs">
                    <% for (var key in readingData.define) { %>
                        <li id="<%= key %>-btn" class="tab col s<%= 12 / tabCount %>" style="<% if (key == 'readed') { %> border-bottom:2px solid #08c <% } %>">
                            <a class="read-btn" onclick="readBtn('<%= key %>')"><%= readingData.define[key] + '(' + readingData.contents[key].length + ')' %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <% for (var key in readingData.contents) { %>
                <div id="<%= key %>" class="row" style="margin-top: 20px; <% if (key != 'readed') { %>display:none <% } %>">
                    <% var bookList = readingData.contents[key]; %>
                    <% for (var i in bookList) { %>
                        <div class="book-item col s12 m4">
                            <div class="card small hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="card-cover-image activator" src="<%= bookList[i].cover %>">
                                </div>
                                <div class="card-content">
                                    <span class="card-title truncate activator grey-text text-darken-4"><%= bookList[i].title %>
                                    </span>
                                    <p>评分: <%= bookList[i].score || '???' %>
                                        <a class="external-link right" href="<%= bookList[i].doubanLink %>" target="_blank">
                                            <i class="fa fa-external-link icon-share"></i>
                                        </a>
                                    </p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4"><%= __('reading.comment') %>
                                        <i class="fa fa-times-circle-o right"></i>
                                    </span>
                                    <p><%= bookList[i].review %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    <% } %>
</section>
<script type="text/javascript">
    function hiddenAll() {
        var obj = ['readed', 'reading', 'wanted'];
        for (var i in obj) {
            document.getElementById(obj[i] + '-btn').style.borderBottom = '2px solid #ffffff';
	        document.getElementById(obj[i]).style.display = 'none';
        }
    }
    function readBtn(id) {
        hiddenAll();
        document.getElementById(id + '-btn').style.borderBottom = '2px solid #08c';
        document.getElementById(id).style.display = 'block';
    }
</script>