<section id="comments">
    <style> aside.comment-bar { margin: auto 30px; }</style>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function(){
            this.page.url = '<%= page.permalink %>';
            this.page.identifier = '<%= page.path %>';
        };
        var loadComment = function(){
            var d = document, s = d.createElement('script');
            s.src = '//<%= shortname%>.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    </script>
    <%- partial('click2show') %>
</section>

<% if (!theme.preload_comment) { %>
    // Add comment count
    <script id="dsq-count-scr" src="//<%= shortname%>.disqus.com/count.js" async></script>
    <span class="disqus-comment-count" data-disqus-identifier="<%= page.path %>"></span>
    <span class="disqus-comment-count" data-disqus-url="<%= page.permalink %>"></span>
    <script>
        $(".disqus-comment-count").hide();
        var $disqusCount = $(".disqus-comment-count");
        $disqusCount.bind("DOMNodeInserted", function(e) {
            $(".count-comment").text(
                $(this).text().replace(/[^0-9]/ig,"")
            )
            DISQUSWIDGETS.getCount({reset: true});
        })
    </script>
<% } %>